<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %tn %p %m%n</Property>
        <Property name="LOG_DIR">logs</Property>
        <Property name="LOG_FILE">barebone</Property>
    </Properties>

    <Appenders>

        <Console name="console_appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="file_appender" fileName="${LOG_DIR}/${LOG_FILE}.log"
                     filePattern="${LOG_DIR}/${LOG_FILE}-%d.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console_appender"/>
            <AppenderRef ref="file_appender"/>
        </Root>
    </Loggers>
</Configuration>
